<b> In this file we will do the HR analytics using the Multivariate linear regression </b>

In [29]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model
from word2number import w2n

In [30]:
data = pd.read_csv('hiring.csv')

In [31]:
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

<b> Data Preprocessing </b>

In [32]:
data[['experience']] = data[['experience']].fillna('zero')

In [33]:
data = data.rename(columns={"experience":"experience","test_score(out of 10)":"test_score","interview_score(out of 10)":"interview_score","salary($)":"salary"})

In [34]:
data[['test_score']] = data[['test_score']].fillna(data['test_score'].mean())

In [35]:
data.experience = data.experience.apply(w2n.word_to_num)

In [36]:
reg = linear_model.LinearRegression()
reg.fit(data[['experience','test_score','interview_score']],data[['salary']])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [38]:
int(reg.predict([[2,9,6]]))

53290

In [39]:
int(reg.predict([[12,10,10]]))

92268