1. Write a Python program to print the following string in a specific format (see the output). Go to the editor
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" Output :

Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are

In [5]:
print('Twinkle, twinkle, little star,')
print('\tHow I wonder what you are!')
print('\t\tUp above the world so high,')
print('\t\tLike a diamond in the sky.')
print('Twinkle, twinkle, little star,')
print('\tHow I wonder what you are')

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

 Write a Python program to get the Python version you are using

In [9]:
from platform import python_version
python_version()

'3.6.9'

Write a Python program to display the current date and time.

In [14]:
import datetime
now = datetime.datetime.now()
now.strftime('%Y-%m-%d %H:%M:%S')

'2020-03-03 10:07:36'

 Write a Python program which accepts the radius of a circle from the user and compute the area.

In [16]:
radius = int(input('enter the radius'))
area = 3.14 * radius ** 2
print('area of circle',area)

enter the radius 12

area of circle 452.16

Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [20]:
firstname = input('enter the first name')
lastname = input('enter the last name')
name = firstname+lastname
print("reversing the complete name",name[::-1])
print(lastname," ",firstname)

enter the first name arnab
enter the last name basak

reversing the complete name kasabbanra
basak   arnab

 Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers

In [21]:
num = input('enter numbers in comma seperated fashion').split(",")
print(num)
print(tuple(num))

enter numbers in comma seperated fashion 1,2,3,4,5,6,7,8,9

['1', '2', '3', '4', '5', '6', '7', '8', '9']
('1', '2', '3', '4', '5', '6', '7', '8', '9')

 Write a Python program to accept a filename from the user and print the extension of that.

In [24]:
filename = input('enter the file name with extension').split(".")
print("The file extension is",repr(filename[-1]))

enter the file name with extension myfile.txt

The file extension is 'txt'

Write a Python program to display the first and last colors from the following list

In [26]:
color_list = ["Red","Green","White" ,"Black"]
print('first_color',color_list[0])
print('last_color',color_list[-1])

first_color Red
last_color Black

 Write a Python program to display the examination schedule. (extract the date from exam_st_date)

In [28]:
exam_st_date = (11, 12, 2014)
print("exam start date is","%i/%i/%i"%exam_st_date)

exam start date is 11/12/2014

 Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn

In [29]:
n = input('enter the value of')
print(int(n)+int(n+n)+int(n+n+n))

enter the value of 5

615

11. Write a Python program to print the documents (syntax, description etc.) of Python built-in

In [32]:
abs.__doc__

'Return the absolute value of the argument.'

12. Write a Python program to print the calendar of a given month and year.
Note : Use 'calendar' module.

In [37]:
import calendar
year = int(input('enter the year in 4 digit'))
month = int(input('enter the month'))
print(calendar.month(year,month))

enter the year in 4 digit 2020
enter the month 3

     March 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

Write a Python program to print the following here document.

In [36]:
print("""
a string that you "don't" have to escape
This
is a ....... multi-line

""")

a string that you "don't" have to escape
This
is a ....... multi-line

 Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)

In [40]:
from datetime import date
first_date = date(2014, 7, 2)
last_date = date(2014, 7, 11)
delta = last_date - first_date
print("The Days are",delta.days)

The Days are 9

 Write a Python program to get the volume of a sphere with radius 6.

In [43]:
radius = int(input('enter the radius'))
vol = (4/3)*3.14*radius **3
print('The volume of the spear is',vol)

enter the radius 12

The volume of the spear is 7234.5599999999995

 Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.

In [48]:
num = int(input('enter a number'))
if num > 17:
    diff = 17-num
    print("since inputed number is greater than 17, so double of absolute difference is",abs(diff)+abs(diff))
else:
    diff = 17-num
    print("The difference is",diff)

enter a number 15

The difference is 2

Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [52]:
num = int(input('enter a number'))
if num < 100:
    print('number is within 100')
elif num > 100 and num < 1000:
    print('number is within 1000')
elif num > 1000 and num <=2000:
    print('number is within 2000')

enter a number 999

number is within 1000

Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [54]:
num1 = int(input('enter num1'))
num2 = int(input('enter num2'))
num3 = int(input('enter num3'))
if num1 == num2 == num3:
    sum = 3*(num1+num2+num3)
    print(sum)
else:
    sum = num1+num2+num3
    print(sum)

enter num1 12
enter num2 14
enter num3 16

42

 Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged

In [57]:
mystring = input('enter any string')
if len(mystring) >= 2 and mystring[:2] == "is":
    print(mystring)
else:
    print("is"+mystring)

enter any string thisis mys

isthisis mys

Write a Python program to get a string which is n (non-negative integer) copies of a given

In [61]:
mystring = input('enter strings one after the other in comma seperated fasion').split(",")
even_length = []
for elements in mystring:
    if len(elements) % 2 == 0:
        even_length.append(elements)
    else:
        pass
print(even_length)

enter strings one after the other in comma seperated fasion this, is,i,my,strin

['this', 'my']

Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [62]:
num = int(input('enter a num'))
if num % 2 == 0:
    print('number is even')
else:
    print('num is odd')

enter a num 12

number is even

Write a Python program to count the number 4 in a given list.

In [63]:
mylist = [1,4,5,7,5,4,2,3,12]
count = 0
for elements in mylist:
    if elements == 4:
        count+=1
print(count)

2

In [5]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:library@localhost:3306/cricket')
df = pd.read_sql_query('SELECT * FROM batting_statistics',engine)
df.head(5)

,Player,Country,Start_year,End_Year,Span,Matches,Innings_Payled,innings_not_played,Not_Outs,Runs,...,Sixes,Runs_Scored_in_Boundaries,Percentage_of_runs_Scored_in_Boundaries,Conversion_rate,Percentages_of_Zeros,Percentages_of_Not_Outs,Runs_scored_Through_Fours,Runs_Scored_Throught_Sixes,Percetage_Of_Runs_Scored_in_Fours,Percetage_Of_Runs_Scored_in_Sixes
0,SR Tendulkar,INDIA,1989,2012,23,463,452,11,41,18426,...,195,9234,50,51.041667,4.424779,9.070796,8064,1170,44,6
1,KC Sangakkara,SL,2000,2015,15,404,380,24,41,14234,...,88,6068,43,26.881720,3.947368,10.789474,5540,528,39,4
2,RT Ponting,AUS,1995,2012,17,375,365,10,39,13704,...,162,5896,43,36.585366,5.479452,10.684932,4924,972,36,7
3,ST Jayasuriya,SL,1989,2011,22,445,433,12,18,13430,...,270,7620,57,41.176471,7.852194,4.157044,6000,1620,45,12
4,DPMD Jayawardene,SL,1998,2015,17,448,418,30,39,12650,...,76,4932,39,24.675325,6.698565,9.330144,4476,456,35,4

Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2

In [4]:
user_input = input('enter a string')
if len(user_input) == 2:
    print(user_input)
else:
    substrsting = user_input[:2]
    print(substrsting+substrsting)

enter a string this is string

thth

Write a Python program to test whether a passed letter is a vowel or not.

In [ ]:
a = ['a','e','i','o','u']
letter = input('enter any letter')
if letter in a:
    print('inputed letter is a vowel')