In [1]:
    import tkinter as tk  
    from functools import partial  
       
       
    def call_result(label_result, n1, n2):  
        num1 = (n1.get())  
        num2 = (n2.get())  
        result = int(num1)+int(num2)  
        label_result.config(text="Result = %d" % result)  
        return  
       
    root = tk.Tk()  
    root.geometry('400x200+100+200')  
      
    root.title('Calculator')  
       
    number1 = tk.StringVar()  
    number2 = tk.StringVar()  
      
    labelNum1 = tk.Label(root, text="A").grid(row=1, column=0)  
      
    labelNum2 = tk.Label(root, text="B").grid(row=2, column=0)  
      
    labelResult = tk.Label(root)  
      
    labelResult.grid(row=7, column=2)  
      
    entryNum1 = tk.Entry(root, textvariable=number1).grid(row=1, column=2)  
      
    entryNum2 = tk.Entry(root, textvariable=number2).grid(row=2, column=2)  
      
    call_result = partial(call_result, labelResult, number1, number2)  
      
    buttonCal = tk.Button(root, text="Calculate", command=call_result).grid(row=3, column=0)  
      
    root.mainloop()

In [3]:
import tkinter as tk

window = tk.Tk()

# Creating main label
display_text = tk.StringVar()
display = tk.Label(window, textvariable=display_text)
display.grid(row=0, columnspan=3)

def add_one():
    s = display_text.get()
    s += '1'
    display_text.set(s)

one = tk.Button(window, text="1", height=10, width=10, command=add_one)
one.grid(row=1, column=0)

window.mainloop()

<b> Customer </b>

In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
engine = create_engine('mysql+pymysql://root:library@localhost:3306/soa')
customer_data = pd.read_sql_query('SELECT * FROM customer',engine)

In [10]:
from datetime import datetime as dt
import datetime
customer_data['date_first_registered'] = customer_data['date_first_registered'].dt.normalize()

In [152]:
d1 = datetime.datetime.strptime('2018-02-03',"%Y-%m-%d")
d2 = datetime.datetime.strptime('2018-03-02',"%Y-%m-%d")
int(customer_data[['date_first_registered']][customer_data['date_first_registered'] == d1].count())
type(d1)

datetime.datetime

<b> record </b>

In [134]:
customer_list = customer_data[['customer_id']][customer_data['date_first_registered'] == d1].values.tolist()
customer_list

[[190248],
 [190249],
 [190250],
 [190251],
 [190252],
 [190253],
 [190254],
 [190255],
 [190256],
 [190257],
 [190258],
 [190259],
 [190260],
 [190261],
 [190262]]

In [29]:
record_data = pd.read_sql_query('SELECT * FROM record',engine)

In [14]:
record_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407653 entries, 0 to 407652
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   record_id              407653 non-null  int64
 1   type                   407653 non-null  object
 2   customer_arrival_time  405001 non-null  object
 3   appointment_id         208148 non-null  float64
 4   customer_id            406602 non-null  float64
 5   cl_appt_end_time       14138 non-null   datetime64[ns]
 6   appointment_end_time   61814 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(2)
memory usage: 21.8+ MB

In [34]:
new_customer_list = []
def flattenlist(customer_list):
    for i in customer_list:
        if type(i) == list:
            flattenlist(i)
        else:
            new_customer_list.append(i)
print(customer_list)
flattenlist(customer_list)
print(new_customer_list)

[[190248], [190249], [190250], [190251], [190252], [190253], [190254], [190255], [190256], [190257], [190258], [190259], [190260], [190261], [190262]]
[190248, 190249, 190250, 190251, 190252, 190253, 190254, 190255, 190256, 190257, 190258, 190259, 190260, 190261, 190262]

In [35]:
record_data['record_id'] = record_data['customer_id'].apply(lambda x: 'True' if x in new_customer_list else 'False')
record_list = record_data.record_id.value_counts().tolist()
record_list

[407642, 11]

<b> Scheme </b>

In [37]:
scheme_data = pd.read_sql_query('SELECT * FROM customer_contact_lens_scheme', engine)

In [45]:
scheme_data['customer_contact_lens_scheme_id'] = scheme_data['customer_id'].apply(lambda x: 'True' if x in new_customer_list else 'False')
scheme_list = scheme_data.customer_contact_lens_scheme_id.value_counts().tolist()
if len(scheme_list) == 2:
    print(scheme_list[1])
else:
    print('0')

0

<b>sales _header</b>

In [47]:
salesHeader_data = pd.read_sql_query('SELECT * FROM sales_header',engine)

In [83]:
salesHeader_data['sales_header_id'] = salesHeader_data['customer_id'].apply(lambda x: 'True' if x in new_customer_list else 'False')

0         False
1         False
2         False
3         False
4         False
          ...
416916    False
416917    False
416918    False
416919    False
416920    False
Name: sales_header_id, Length: 416921, dtype: object

<b> cinical dispense order </b>

In [51]:
salesDetail_data = pd.read_sql_query('SELECT * FROM sales_detail',engine)

In [53]:
ClinicalDispense_data = pd.read_sql_query('SELECT * FROM clinical_dispense_order',engine)

In [54]:
ClinicalDispense_data.head()

,clinical_dispense_order_id,order_state,authorized,order_number,order_date,sight_test_id,outside_rx_id,customer_id,staff_id
0,1,COLLECTED,Y,022000001397680000001,2010-12-13,1133326.0,NaN,139768,156.0
1,2,COLLECTED,Y,022000001250930000001,2009-12-08,1134815.0,NaN,125093,157.0
2,3,COLLECTED,Y,022000001395130000001,2010-01-07,NaN,809.0,139513,156.0
3,4,COLLECTED,Y,022000001126220000001,2009-10-29,NaN,810.0,112622,156.0
4,5,COLLECTED,Y,022000001324150000001,2010-03-26,NaN,811.0,132415,156.0

In [55]:
self.ClinicalDispense_data['clinical_dispense_order_id'] = self.ClinicalDispense_data['customer_id'].apply(lambda x: 'True' if x in new_customer_list else 'False')
ClinicalDispense_list = self.ClinicalDispense_data.clinical_dispense_order_id.value_counts().tolist()
if len(ClinicalDispense_list) == 2:
    print(ClinicalDispense_list[1])
else:
    print('0')

4

<b> Dispense Item </b>

In [56]:
DispenseItem_data = pd.read_sql_query('SELECT * FROM dispense_item', engine)

In [58]:
DispenseItem_data.head()

,dispense_item_id,frame_sku,frame_description,a,b,ed,dbl,unknown_frame_price,frame_type_id,lens_retail_price,...,clinical_dispense_order_id,remake_detail_id,staff_id,collection_staff_id,spectacle_supplier_id,dispense_job_type_id,supplier_id,display_sequence,collection_notification_method,amend_reason
0,1,25108392,None,None,None,None,None,None,None,NaN,...,1.0,NaN,156.0,NaN,NaN,None,None,0.0,None,None
1,2,25145403,None,None,None,None,None,None,None,NaN,...,1.0,NaN,156.0,NaN,NaN,None,None,1.0,None,None
2,3,24813600,None,None,None,None,None,None,None,NaN,...,2.0,NaN,157.0,NaN,NaN,None,None,0.0,None,None
3,4,24764094,None,None,None,None,None,None,None,NaN,...,7.0,NaN,157.0,NaN,NaN,None,None,0.0,None,None
4,5,24545976,None,None,None,None,None,None,None,NaN,...,4.0,NaN,156.0,NaN,NaN,None,None,0.0,None,None

In [59]:
DispenseItem_data.columns

Index(['dispense_item_id', 'frame_sku', 'frame_description', 'a', 'b', 'ed',
       'dbl', 'unknown_frame_price', 'frame_type_id', 'lens_retail_price',
       'customer_frame', 'right_lens_sku', 'left_lens_sku',
       'right_lens_product_code', 'left_lens_product_code',
       'right_lens_long_name', 'left_lens_long_name', 'right_lens_short_name',
       'left_lens_short_name', 'right_dia', 'left_dia', 'spectacle_identifier',
       'basket_item_identifier', 'status', 'shape_file_name', 'chased',
       'estimated_days_from_black_box', 'collection_date', 'collected_date',
       'collected', 'collected_by', 'cancelled_by', 'left_other_non_core_lens',
       'right_other_non_core_lens', 'item_to_validate', 'frame_to_follow',
       'lab_notes', 'collection_notes', 'other_supplier', 'other_lens_details',
       'right_lens_type', 'left_lens_type', 'sequence_number',
       'lens_option_type', 'right_lens_thickness', 'left_lens_thickness',
       'recommended_right_lens_type', 'recommended_left_lens_type',
       'recommended_right_lens_thickness', 'recommended_left_lens_thickness',
       'left_dispense_spectacle_lens_tint_id',
       'right_dispense_spectacle_lens_tint_id', 'clinical_dispense_order_id',
       'remake_detail_id', 'staff_id', 'collection_staff_id',
       'spectacle_supplier_id', 'dispense_job_type_id', 'supplier_id',
       'display_sequence', 'collection_notification_method', 'amend_reason'],
      dtype='object')

In [67]:
dispense_item_count = int(self.DispenseItem_data[['collection_date']][(self.DispenseItem_data['collection_date'] >= d1) & (self.DispenseItem_data['collection_date'] <= d2)].count())
dispense_item_count

38

In [68]:
NHSVoucer_data = pd.read_sql_query('SELECT * FROM nhsvoucher',engine)

In [71]:
NHSVoucer_data.columns

Index(['nhs_voucher_id', 'single_vision_near', 'single_vision_distance',
       'multi_focal', 'tints', 'complex', 'prism', 'no_voucher_to_be_issued',
       'primary_sight_test', 'supplementary_sight_test', 'test_date',
       'early_retest_reason_id'],
      dtype='object')

In [74]:
NHSVoucer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108654 entries, 0 to 108653
Data columns (total 12 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   nhs_voucher_id            108654 non-null  int64
 1   single_vision_near        108609 non-null  object
 2   single_vision_distance    108609 non-null  object
 3   multi_focal               108609 non-null  object
 4   tints                     108654 non-null  object
 5   complex                   108654 non-null  object
 6   prism                     108654 non-null  object
 7   no_voucher_to_be_issued   108654 non-null  object
 8   primary_sight_test        108654 non-null  object
 9   supplementary_sight_test  108654 non-null  object
 10  test_date                 108654 non-null  object
 11  early_retest_reason_id    12038 non-null   float64
dtypes: float64(1), int64(1), object(10)
memory usage: 9.9+ MB

In [72]:
nhs_coucher_count = int(NHSVoucer_data[['test_date']][(NHSVoucer_data['test_date'] >= d1) & (NHSVoucer_data['test_date'] <= d2)].count())
nhs_coucher_count

TypeError: can't compare datetime.datetime to datetime.date

In [76]:
self.NHSVoucer_data['test_date'] = pd.to_datetime(self.NHSVoucer_data['test_date'])

In [78]:
nhs_coucher_count = int(self.NHSVoucer_data[['test_date']][(self.NHSVoucer_data['test_date'] >= d1) & (self.NHSVoucer_data['test_date'] <= d2)].count())
nhs_coucher_count

29

In [84]:
salesDetail_data = pd.read_sql_query('SELECT * FROM sales_detail',engine)
salesPayment_data = pd.read_sql_query('SELECT * FROM sales_payment',engine)

In [85]:
salesDetail_data.columns

Index(['sales_detail_id', 'unit_value', 'original_price', 'net_value',
       'order_number', 'basket_item_identifier', 'effective_net_value',
       'tax_code', 'device_id', 'transaction_date', 'line_number', 'voided',
       'days_since_sight_test', 'staff_id', 'sales_header_id', 'product_id',
       'sales_header_index'],
      dtype='object')

In [153]:
d1 = datetime.datetime.date(d1)
d2 = datetime.datetime.date(d2)
query = "select count(*) from sales_detail where sales_header_id in (select sales_header_id from sales_header where customer_id in (select customer_id from customer where date_first_registered >= '{d1}' and date_first_registered <= '{d2}'))".format(d1=d1,d2=d2)
query

"select count(*) from sales_detail where sales_header_id in (select sales_header_id from sales_header where customer_id in (select customer_id from customer where date_first_registered >= '2018-02-03' and date_first_registered <= '2018-03-02'))"

In [154]:
salesDetail_data = pd.read_sql_query(query,engine)
#salesDetail_data.info()

In [165]:
int(salesDetail_data.values)

756