Here in this notebook we will try to predict few things about virat kohli

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [53]:
data = pd.read_csv('viratODI.csv',sep="\t")

In [54]:
data.head()

   Matches  Runs
0        1    12
1        2    37
2        3    25
3        4    54
4        5    31

total number of ODI matches played by Virat till now

In [55]:
data.Matches.count()

248

Total runs scored by Virat in ODI

In [57]:
data['Runs'].sum()

11867

In [ ]:
reg = linear_model.LinearRegression()
matches = data['Matches']
runs = data['Runs']